@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
.avatar {
  height: 32px;
  margin-left: 32px;
  margin-top: 2px;
  object-fit: cover;
  width: 32px;
}
.avatar-1 {
  height: 40px;
  object-fit: cover;
  width: 40px;
}
.badge {
  align-items: center;
  background-color: rgba(221, 214, 254, 1);
  border-radius: 10px;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  margin-left: 6px;
  min-width: 36px;
  padding: 0 8px;
}
.badge-1 {
  align-items: center;
  background-color: rgba(253, 230, 138, 1);
  border-radius: 10px;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  margin-right: 14px;
  margin-top: 26px;
  min-width: 81px;
  padding: 0 8px;
}
.badge-2 {
  align-items: center;
  background-color: var(--perano);
  border-radius: 10px;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  margin-right: 28px;
  margin-top: 26px;
  min-width: 67px;
  padding: 0 8px;
}
.badge-3 {
  align-items: center;
  background-color: rgba(110, 231, 183, 1);
  border-radius: 10px;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  margin-right: 34px;
  margin-top: 26px;
  min-width: 61px;
  padding: 0 8px;
}
.badge-4 {
  align-items: center;
  background-color: var(--granny-apple);
  border-radius: 10px;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  margin-right: 38px;
  margin-top: 26px;
  min-width: 57px;
  padding: 0 8px;
}
.badge-5 {
  align-items: center;
  background-color: rgba(220, 38, 38, 1);
  border-radius: 10px;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  margin-right: 11px;
  margin-top: 26px;
  min-width: 84px;
  padding: 0 8px;
}
.badge-6 {
  align-items: flex-start;
  background-color: rgba(250, 99, 78, 1);
  border-radius: 5px;
  display: flex;
  height: 18px;
  left: 11px;
  overflow: hidden;
  padding: 3.5px 3px;
  position: absolute;
  top: 15px;
  width: 18px;
}
.badge-7 {
  align-items: center;
  background-color: rgba(224, 231, 255, 1);
  border-radius: 10px;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  margin-left: 6px;
  min-width: 28px;
  padding: 0 8px;
}
.bottom-border {
  height: 2px;
  margin-top: 16px;
  width: 78px;
}
.bottom-border-1 {
  height: 2px;
  margin-top: 16px;
  width: 50px;
}
.bottom-border-2 {
  height: 2px;
  margin-top: 16px;
  width: 42px;
}
.bottom-border-3 {
  height: 2px;
  margin-top: 16px;
  width: 69px;
}
.bottom-border-4 {
  height: 2px;
  margin-top: 16px;
  width: 77px;
}
.breadcrumb-separator {
  align-items: flex-end;
  display: flex;
  height: 20px;
  margin-left: 14px;
  padding: 1.8px 5.6px;
  width: 20px;
}
.breadcrumb-separator-1 {
  align-items: flex-end;
  display: flex;
  height: 20px;
  margin-left: 16px;
  padding: 1.8px 5.6px;
  width: 20px;
}
.button {
  align-items: flex-start;
  background-color: var(--bossanova);
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  height: 38px;
  left: -9px;
  overflow: hidden;
  padding: 10px 3px;
  position: absolute;
  top: -7px;
  width: 182px;
}
.chevron-down {
  align-items: flex-end;
  display: flex;
  height: 16px;
  margin-left: 4px;
  padding: 5.3px 3.3px;
  width: 16px;
}
.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 478px;
  width: 276px;
}
.column-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 478px;
  width: 372px;
}
.column-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 478px;
  width: 210px;
}
.column-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 478px;
  width: 143px;
}
.column-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 478px;
  width: 146px;
}
.content {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 36px;
  margin-left: 32px;
  min-width: 114px;
  padding: 0 4px;
}
.content-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 36px;
  margin-left: 32px;
  min-width: 101px;
  padding: 0 4px;
}
.date {
  height: 23px;
  letter-spacing: 0px;
  min-height: 23px;
  min-width: 39px;
  text-align: center;
}
.desktop-24 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 10410px;
  width: 1440px;
}
.divider {
  background-color: var(--mercury);
  height: 1px;
  margin-top: 17px;
  width: 276px;
}
.divider-1 {
  background-color: var(--mercury);
  height: 1px;
  width: 372px;
}
.divider-2 {
  background-color: var(--mercury);
  height: 1px;
  width: 210px;
}
.divider-3 {
  background-color: var(--mercury);
  height: 1px;
  width: 143px;
}
.divider-4 {
  background-color: var(--mercury);
  height: 1px;
  margin-top: 26px;
  width: 143px;
}
.divider-5 {
  background-color: var(--mercury);
  height: 1px;
  width: 146px;
}
.divider-6 {
  background-color: var(--mercury);
  height: 1px;
  margin-top: 26px;
  width: 146px;
}
.divider-7 {
  background-color: var(--mercury);
  height: 1px;
  width: 276px;
}
.flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: -2px;
  margin-left: 495px;
  min-height: 54px;
  width: 439px;
}
.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -9px;
  margin-top: -7px;
  min-height: 25px;
  width: 12px;
}
.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  margin-top: -7px;
  min-height: 25px;
  width: 12px;
}
.frame-374 {
  align-items: center;
  display: flex;
  margin-left: 30px;
  min-width: 59px;
}
.fundraising {
  height: 23px;
  letter-spacing: 0px;
  min-height: 23px;
  min-width: 85px;
  text-align: center;
}
.group {
  align-items: flex-start;
  display: flex;
  height: 25px;
  left: 0px;
  min-width: 25px;
  position: absolute;
  top: 0px;
}
.group-139 {
  align-items: flex-start;
  display: flex;
  height: 38px;
  margin-right: 46px;
  margin-top: 17px;
  min-width: 182px;
}
.group-1399-1 {
  align-items: flex-start;
  display: flex;
  height: 38px;
  left: 0px;
  min-width: 182px;
  position: absolute;
  top: 0px;
}
.home {
  align-items: center;
  display: flex;
  height: 20px;
  padding: 0 2px;
  width: 20px;
}
.icon {
  height: 5px;
  width: 9px;
}
.icon-1 {
  height: 16px;
  width: 16px;
}
.icon-2 {
  height: 16px;
  width: 9px;
}
.icon24pxbell {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 24px;
  margin-left: 27px;
  margin-top: 6px;
  padding: 2px 0;
  width: 24px;
}
.icon24pxtarget {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.input-group {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  height: 38px;
  margin-left: 42px;
  overflow: hidden;
  padding: 0 13px;
  width: 277px;
}
.line-92 {
  align-self: flex-end;
  height: 1px;
  width: 32px;
}
.logo-wordmark {
  height: 35px;
  margin-top: 1px;
  object-fit: cover;
  width: 119px;
}
.main {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 54px;
  min-width: 1198px;
}
.nav-bar1044 {
  align-items: flex-start;
  background-color: var(--white);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  min-height: 189px;
  padding: 18px 91px;
  width: 1440px;
}
.nav-items {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 5px;
  min-width: 426px;
}
.nav-li-default {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  min-height: 48px;
  width: 83px;
}
.navbars-link {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  margin-left: 32px;
  min-width: 65px;
  padding: 0 10px;
}
.navbars-link-1 {
  align-items: center;
  background-color: rgba(79, 70, 229, 1);
  border-radius: 6px;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  margin-left: 42px;
  min-width: 100px;
  padding: 0 10px;
}
.number {
  color: var(--white);
  font-family: "Inter-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0px;
  min-height: 10px;
}
.overlap-group {
  align-self: center;
  height: 33px;
  margin-bottom: 9px;
  position: relative;
  width: 29px;
}
.overlap-group-1 {
  height: 38px;
  position: relative;
  width: 182px;
}
.overlap-group-2 {
  height: 48px;
  margin-left: -15px;
  margin-top: -10px;
  position: relative;
  width: 197px;
}
.overlap-group1 {
  height: 21px;
  position: relative;
  width: 21px;
}
.people {
  height: 23px;
  letter-spacing: 0px;
  margin-left: 30px;
  min-height: 23px;
  min-width: 51px;
  text-align: center;
}
.place {
  color: var(--cloud-burst);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 21px;
  letter-spacing: 0px;
  min-height: 21px;
  min-width: 45px;
  text-align: center;
}
.placeholder {
  letter-spacing: 0px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 49px;
}
.rectangle-5 {
  background-color: var(--cloud-burst);
  height: 3px;
  margin-top: 22px;
  width: 83px;
}
.search {
  align-items: center;
  display: flex;
  height: 20px;
  padding: 0 2px;
  width: 20px;
}
.secondary {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 54px;
  margin-top: 3px;
  min-width: 1216px;
  padding: 0 12px;
}
.sessions {
  height: 23px;
  letter-spacing: 0px;
  margin-left: 32px;
  min-height: 23px;
  min-width: 66px;
  text-align: center;
}
.simple-with-slashes-desktop {
  align-items: flex-start;
  border-radius: 6px;
  display: flex;
  margin-left: 42px;
  margin-top: 17px;
  min-width: 257px;
}
.supporting-text {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.supporting-text-1 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.supporting-text-10 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.supporting-text-11 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.supporting-text-12 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.supporting-text-13 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.supporting-text-14 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.supporting-text-15 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.supporting-text-16 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.supporting-text-17 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.supporting-text-18 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.supporting-text-19 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.supporting-text-2 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.supporting-text-20 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.supporting-text-21 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.supporting-text-22 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.supporting-text-23 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.supporting-text-3 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.supporting-text-4 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.supporting-text-5 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.supporting-text-6 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.supporting-text-7 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.supporting-text-8 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.supporting-text-9 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.tab {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  min-height: 38px;
  width: 78px;
}
.tab-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 38px;
  width: 77px;
}
.tab-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 34px;
  min-height: 38px;
  width: 42px;
}
.tab-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  min-height: 38px;
  width: 50px;
}
.tab-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  min-height: 38px;
  width: 69px;
}
.tables-cell {
  align-items: center;
  display: flex;
  height: 72px;
  min-width: 276px;
  padding: 0 24px;
}
.tables-cell-1 {
  align-items: center;
  background-color: var(--alabaster);
  display: flex;
  height: 40px;
  min-width: 372px;
  padding: 0 24px;
}
.tables-cell-2 {
  align-items: center;
  display: flex;
  height: 72px;
  min-width: 372px;
  padding: 0 24px;
}
.tables-cell-3 {
  align-items: center;
  background-color: var(--alabaster);
  display: flex;
  height: 40px;
  min-width: 210px;
  padding: 0 24px;
}
.tables-cell-4 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 72px;
  padding: 16px 22px;
  width: 246px;
}
.tables-cell-5 {
  align-items: center;
  background-color: var(--alabaster);
  display: flex;
  height: 40px;
  min-width: 143px;
  padding: 0 24px;
}
.tables-cell-6 {
  align-items: center;
  background-color: var(--alabaster);
  display: flex;
  height: 40px;
  min-width: 146px;
  padding: 0 24px;
}
.tables-cell-7 {
  align-items: center;
  background-color: var(--alabaster);
  display: flex;
  height: 40px;
  min-width: 276px;
  padding: 0 24px;
}
.tabs {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 38px;
  margin-right: 45px;
  margin-top: 43px;
  min-width: 927px;
}
.text {
  letter-spacing: 0px;
  margin-left: 38px;
  margin-top: 1px;
  min-height: 20px;
  min-width: 64px;
}
.text-1 {
  letter-spacing: 0px;
  margin-left: 4px;
  min-height: 20px;
}
.text-10 {
  letter-spacing: 0.07px;
  min-height: 16px;
  min-width: 62px;
}
.text-11 {
  letter-spacing: 0px;
  min-height: 16px;
  min-width: 39px;
  text-align: center;
}
.text-12 {
  letter-spacing: 0px;
  min-height: 16px;
  min-width: 66px;
  text-align: center;
}
.text-13 {
  letter-spacing: 0.07px;
  min-height: 16px;
  min-width: 57px;
}
.text-14 {
  letter-spacing: 0px;
  margin-left: 24px;
  margin-top: 26px;
  min-height: 20px;
}
.text-15 {
  letter-spacing: 0.07px;
  min-height: 16px;
  min-width: 66px;
}
.text-16 {
  left: 0px;
  letter-spacing: 0px;
  position: absolute;
  top: 9px;
}
.text-17 {
  letter-spacing: 0px;
  min-height: 17px;
  width: 129px;
}
.text-18 {
  color: rgba(109, 40, 217, 1);
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  min-height: 20px;
  min-width: 64px;
}
.text-19 {
  letter-spacing: 0px;
  min-height: 16px;
  min-width: 18px;
  text-align: center;
}
.text-2 {
  letter-spacing: 0.07px;
  min-height: 16px;
  min-width: 40px;
}
.text-20 {
  letter-spacing: 0px;
  min-height: 20px;
  min-width: 57px;
}
.text-21 {
  letter-spacing: 0px;
  min-height: 16px;
  min-width: 10px;
  text-align: center;
}
.text-22 {
  letter-spacing: 0px;
  margin-left: 36px;
  margin-top: 1px;
  min-height: 20px;
  min-width: 64px;
}
.text-23 {
  color: rgba(109, 40, 217, 1);
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-left: 4px;
  min-height: 20px;
}
.text-24 {
  letter-spacing: 0px;
  margin-left: 54px;
  min-height: 20px;
  min-width: 60px;
}
.text-25 {
  letter-spacing: 0px;
  margin-left: 16px;
  min-height: 20px;
  min-width: 78px;
}
.text-26 {
  letter-spacing: 0px;
  min-height: 20px;
  min-width: 78px;
}
.text-27 {
  letter-spacing: 0px;
  min-height: 20px;
  min-width: 59px;
}
.text-28 {
  letter-spacing: 0px;
  margin-left: 16px;
  min-height: 20px;
}
.text-29 {
  letter-spacing: 0px;
  margin-left: 44px;
  min-height: 20px;
  min-width: 65px;
}
.text-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  min-height: 40px;
  width: 268px;
}
.text-30 {
  color: rgba(0, 0, 0, 1);
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  min-height: 20px;
  min-width: 43px;
}
.text-4 {
  letter-spacing: 0.07px;
  min-height: 16px;
  min-width: 38px;
}
.text-5 {
  letter-spacing: 0.07px;
  min-height: 16px;
  min-width: 58px;
}
.text-6 {
  letter-spacing: 0px;
  min-height: 16px;
  min-width: 63px;
  text-align: center;
}
.text-7 {
  color: rgba(0, 0, 0, 1);
  font-family: "Inter-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  min-height: 16px;
  min-width: 63px;
  text-align: center;
}
.text-8 {
  letter-spacing: 0px;
  min-height: 16px;
  min-width: 49px;
  text-align: center;
}
.text-9 {
  letter-spacing: 0px;
  min-height: 16px;
  min-width: 43px;
  text-align: center;
}
.title {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.title-1 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.title-10 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.title-11 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.title-12 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.title-13 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.title-14 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.title-15 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.title-16 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.title-17 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.title-18 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.title-19 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.title-2 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.title-20 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.title-21 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.title-22 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.title-23 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.title-3 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.title-4 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.title-5 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.title-6 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 200px;
}
.title-7 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.title-8 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.title-9 {
  letter-spacing: 0px;
  min-height: 20px;
  width: 270px;
}
.vector {
  height: 10px;
  left: 4px;
  position: absolute;
  top: 7px;
  width: 10px;
}
.vector-1 {
  height: 7px;
  left: 14px;
  position: absolute;
  top: 0px;
  width: 7px;
}
.vector-2 {
  height: 12px;
  margin-left: 0px;
  width: 12px;
}
.vector-3 {
  height: 12px;
  margin-top: 1px;
  width: 12px;
}
.vector-4 {
  height: 3px;
  left: 18px;
  position: absolute;
  top: 0px;
  width: 3px;
}
.vector-5 {
  height: 18px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 18px;
}
.vector-6 {
  height: 6px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 6px;
}
.vector-7 {
  height: 15px;
  width: 18px;
}
.vector-8 {
  height: 1px;
  margin-top: 4px;
  width: 3px;
}
.with-avatars-an-content-desktop {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 478px;
  margin-right: 31px;
  overflow: hidden;
  width: 1290px;
}
* {
  box-sizing: border-box;
}
.border-1-5px-white {
  border: 1.5px solid var(--white);
}
.border-1px-mercury {
  border: 1px solid var(--mercury);
}
.border-class-1 {
  border: 1px solid rgba(209, 213, 219, 1);
}
.inter-medium-evening-sea-12px {
  color: var(--evening-sea);
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-12px);
  font-style: normal;
  font-weight: 500;
}
.inter-medium-mirage-14px {
  color: var(--mirage);
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-14px);
  font-style: normal;
  font-weight: 500;
}
.inter-medium-pale-sky-12px {
  color: var(--pale-sky);
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-12px);
  font-style: normal;
  font-weight: 500;
}
.inter-medium-pale-sky-14px {
  color: var(--pale-sky);
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-14px);
  font-style: normal;
  font-weight: 500;
}
.inter-medium-scarpa-flow-12px {
  color: rgba(75, 85, 99, 1);
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-12px);
  font-style: normal;
  font-weight: 500;
}
.inter-medium-white-12px {
  color: var(--white);
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-12px);
  font-style: normal;
  font-weight: 500;
}
.inter-medium-white-14px {
  color: var(--white);
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-14px);
  font-style: normal;
  font-weight: 500;
}
.inter-regular-normal-cloud-burst-15px {
  color: var(--cloud-burst);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-15px);
  font-style: normal;
  font-weight: 400;
}
.inter-regular-normal-mirage-14px {
  color: var(--mirage);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-14px);
  font-style: normal;
  font-weight: 400;
}
.inter-regular-normal-pale-sky-14px {
  color: var(--pale-sky);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-14px);
  font-style: normal;
  font-weight: 400;
}
:root {
  --alabaster: rgba(249, 250, 251, 1);
  --bossanova: rgba(89, 37, 101, 1);
  --cloud-burst: rgba(32, 44, 70, 1);
  --evening-sea: rgba(6, 95, 70, 1);
  --font-family-inter-medium: "Inter-Medium", Helvetica;
  --font-family-inter-regular: "Inter-Regular", Helvetica;
  --font-size-12px: 12px;
  --font-size-14px: 14px;
  --font-size-15px: 15px;
  --granny-apple: rgba(209, 250, 229, 1);
  --mercury: rgba(229, 231, 235, 1);
  --mirage: rgba(17, 24, 39, 1);
  --pale-sky: rgba(107, 114, 128, 1);
  --perano: rgba(165, 180, 252, 1);
  --white: rgba(255, 255, 255, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
